:root {
    --bg-primary: antiquewhite;
    --bg-secondary: rgb(227, 224, 224);
    --text-primary: rgba(131, 68, 26, 0.86);
    --text-secondary: rgb(91, 35, 0);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        /* Stato iniziale, dimensione normale */
    }

    50% {
        transform: scale(1.3);
        /* Stato a metà animazione, leggermente ingrandito */
    }

    100% {
        transform: scale(1);
        /* Torna alla dimensione normale */
    }
}

@keyframes underline-animation {
    0% {
        width: 0;
        /* La linea parte da 0 */
    }

    50% {
        width: 100%;
        /* La linea arriva a piena larghezza */
    }

    100% {
        width: 0;
        /* La linea torna a 0 */
    }
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: var(--bg-secondary);
}

/* NAVIGATION BAR*/
.header {
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-bottom: 3px solid var(--text-primary);
    position: fixed;
    z-index: 1000;
}

.title {
    align-items: center;
    margin-left: 20px;
}

.logo {
    margin-left: 10px;
}

.header-navbar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.title h1,
.title h2 {
    margin: 0;
}

.title h1 {
    margin-top: 15px;
    font-size: 3vw;
}

.title h2 {
    margin-bottom: 15px;
}

nav {
    text-align: center;
    flex: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding: 1rem;
}

nav a {
    text-align: center;
    color: var(--text-primary);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    border: solid transparent 2px;
    border-radius: 10px;
    transition: border-color 0.3s;
    padding: 3px;
}

nav a:hover {
    border: solid black 2px;
    border-radius: 10px;
    color: black;
    padding: 3px;
}

/*MAIN PAGE*/

.container {
    width: 100%;
    background-image: url(images/cont.jpg);
    background-size: 100% auto;
    /* adapt the image and it doesn't repeat*/
    height: 100vh;
    margin-top: 7%;

}

.welcome {
    background-color: var(--bg-primary);
    padding: 2%;
    border: solid black 2px;
    border-radius: 20px;
    display: inline-block;
    margin: 5%;
    font-size: xx-large;
    opacity: 0.8;
    transform: translateY(50px);
    animation: fade-in 1s ease-in 0.6s;
    z-index: 1;

}

/* presentation */

.background-pres {
    display: flex;
    background-color: var(--bg-secondary);
    align-items: center;
    justify-content: center;
}

.pres {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primary);
    flex-direction: column;
    text-align: center;
    border-radius: 100%;
    width: 40%;
    margin-top: 7%;
    margin-bottom: 7%;
    border: 8px solid var(--text-primary);
}

.pres h1 {
    margin-top: 7%;
    color: var(--text-primary);
    padding-bottom: 0;
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.pres h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--text-primary);
    animation: underline-animation 3s infinite; 
}

.pres h2 {
    font-size: x-large;
    color: var(--text-primary);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/*show some food*/

.food {
    /*  display: flex;*/
    max-width: 100%;
    background-color: var(--bg-primary);
    /*justify-content: center;*/

}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.food img {
    max-width: 400px;
    border-radius: 50%;
    object-fit: cover;
    max-height: 400px;
    transition: border-radius 3s ease;
}

.food img:hover {
    border-radius: 0%;
}


.image-wrapper {
    display: flex;
    object-fit: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin-top: 3%;
}

.fresh-pasta {
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: center;
}

.cursive-text {
    font-family: 'Pacifico', cursive;
    color: var(--text-secondary);
    font-size: 2vW;
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* footer */

footer {
    display: flex;
    background-color: var(--bg-primary);
    border-top: 3px solid var(--text-primary);
    margin-top: 5%;
    align-items: center;
    justify-content: space-between;
}

.logo-rights {
    margin-left: 4em;
    margin-top: 3em;
    margin-bottom: 3em;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin: auto;
}

.social-icons img {
    width: 50px;
    padding: 1em;
}

#totopbtn {
    margin-right: 4em;
    animation: pulse 1s infinite 0.5s;
}

.totop img {
    animation: pulse 1s infinite 0.5s;
}